<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    {{range .Styles}}
    <link rel="stylesheet" type="text/css" href="{{.}}"></script>
    {{end}}
  </head>
  <body>
    <div class="container is-fluid">
      <div id="app">
        <div id="sandbox"></div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="stream.js" type="application/javascript"></script>
    {{range .Scripts}}
    <script src="{{.}}" type="application/javascript"></script>
    {{end}}
  </body>
</html>
